
header.w3-container
{
	background-color: teal;
	border-radius: 8px;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
}

div.headshot
{
	border: 2px solid black;
	border-radius: 8px;
	padding: 5px;
	margin: 5px;
	background-color: teal;
	float: left;
}

div.experience-list
{
	float: left;
	margin: 5px;
	padding: 5px;
	align-self: center;
	background-color: teal;
	border-radius: 8px;
	border: 2px solid black;
}
div.list-box
{
	float: right;
	margin: 5px;
	padding: 5px;
	background-color: teal;
	border-radius: 8px;
	border: 2px solid black;
}

div.list
{
	background-color: #a8a8a8;
	border: 2px solid black;
	border-radius: 8px;
	padding: 5px;
	margin: 5px;
}

div.list > h3
{
	margin: 0px;
	font-family: cursive;
}

h1 
{
	font-family: Monospace;
	text-align: center;
	font-size: 40px;
}

table
{
	border: 1;
	border-color: black;
	border-radius: 3px;
	margin: 10px;
}

th
{
	background-color: #808080;
	font-weight: bolder;
	border-radius: 3px;
}

tr:nth-child(even)
{
	background-color: #a8a8a8;
}

tr:nth-child(odd)
{
	background-color: #c8c8c8;
}

tr td:nth-child(1)
{
	padding-right: 5px;
	border-radius: 3px;
}

tr td:nth-child(2)
{
	text-align: right;
	border-radius: 3px;
}

tr:hover
{
	background-color: #fce205;
}

body
{
	background-image: url("wood-background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a
{
	text-decoration: none;
}

img.headshot-image
{
	width:250px;
	border-radius: 8px;
	border: 2px solid #000000;
}

footer
{
	float: bottom;
}
